/* Tag Body */
 body{
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
 }
/* Estilo principal do menu */
.topnav {
    background-color: #646464;
    overflow: hidden;
    display: flex;
    justify-content: space-between; /* Espaça itens adequadamente */
    align-items: center; /* Centraliza verticalmente */
    padding: 0 10px;
}

/* Estilo das opções do menu */
.topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px; /* Tamanho confortável */
    text-decoration: none;
    font-size: 17px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Efeito suave */
}

/* Efeito de hover no link */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Indica o item ativo */
.topnav a.active {
    background-color: rosybrown;
    color: white;
}

/* Alinhamento do menu (UL) */
.topnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Para suportar ícones de hambúrguer em telas menores */
.topnav .icon {
    display: none; /* Escondido por padrão */
    color: white;
    font-size: 24px;
    cursor: pointer;
}


  /* links */
  a{
    text-decoration: none;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}
  /* formatação dos titulos h1 */
  h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  }
/* formatação dos titulos h2 */
h2{
    text-align: center;
    font-style: italic;
    font-size: 30px;
}

/* formatação dos paragrafos */
p{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.p1{
    font-style: italic;
    font-size: 18px;
}

 /* formatação das imagens das bandeiras */
 .bandeiras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.bandeira {
    width: 150px;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.bandeira:hover {
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

/* imagem da historia do brasil */
img{
    text-align: center;
    width: 500px;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}
img:hover{transform: scale(1.1); }


/* rodape da pagina */
footer{
    background-color: rosybrown;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    }
    #wrapper{
        min-height: 100%;
        position: relative;
    }
    div.body-content{
      padding-bottom: 100px;
    }
